//- Testcomponent component — usage: +testcomponent({ title: '', text: '' })
mixin testcomponent(data)
  section.testcomponent
    .container
      if data.title
        h2.testcomponent-title= data.title
      if data.text
        p.testcomponent-text= data.text
      block
