@use '../../sass/utilities/mixins' as *;

@layer components {
  .btn-outline-gray-1 {
    border: 1px solid var(--color-gray-300);
    background: transparent;
    color: var(--color-text-primary);

    &:hover {
      background: var(--color-gray-300);
      color: var(--color-white);
    }
  }

  .size-48 {
    width: rem(48);
    height: rem(48);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}